{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center tapir-authentication">
        <div class="card tapir-login mt-4" id="login-card">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% translate "Sign in" %}
            </h5>
            <div class="card-body">
                <a href="{% url 'oidc_authentication_init' %}">{% translate "Login with OpenID Connect" %}</a>
            </div>
        </div>
    </div>

    <script>
        const passwordInput = document.getElementById('id_password');
        const passwordToggleIcon = document.getElementById('password_toggle_icon');

        document.getElementById('password_toggle').addEventListener('click', () => {
            if (passwordInput.type == 'password') {
                passwordInput.type = "text";
                passwordToggleIcon.innerText = "visibility_off"
            } else {
                passwordInput.type = "password";
                passwordToggleIcon.innerText = "visibility"
            }

        })
    </script>
{% endblock %}
