{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% translate 'Shift missed' %}</title>
</head>
<body>
{% blocktranslate with first_name=tapir_user.first_name shift_display_name=shift.get_display_name %}
    <p>Hi {{ first_name }},</p>

    <p>This is an automated email from WirMarkt.</p>

    <p>
        It has been registered in the Tapir system that you didn't attend the following shift which you had registered
        for:
        {{ shift_display_name }} <br/>
        If it's a mistake, or you think that you should be excused from this shift, please contact the member office:
        <a href="mailto:office@wirmarkt.de">office@wirmarkt.de</a>.<br/>
        A missed shift must be compensated for by completing 2 make-up shifts within four weeks of your missed shift.
        You can schedule your make-up shifts directly on our <a href="https://members.wirmarkt.de/shifts/calendar">shift
        calendar</a>.<br/>
        Please keep in mind that if you do not complete your make-up shifts your shopping and voting rights will be
        suspended.
    </p>

    <p>Cooperatively yours,</p>
    <p>Barbara, Kristina and Fabian</p>
{% endblocktranslate %}
</body>
</html> 