{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<p>
    {% blocktranslate with full_name=owner.get_info.get_display_name %}
    Hello {{ full_name}},
    {% endblocktranslate %}
</p>
<p>
    {% blocktranslate %}
    Welcome as a full member! Please find attached your membership confirmation. We are very happy that you are on
    board.
    {% endblocktranslate %}
</p>

<p>
    {% blocktranslate %}
    Best regards,</br>
    Barbara, Kristina and Fabian
    {% endblocktranslate %}
</p>

</body>
</html>
