{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<p>
    {% blocktranslate with full_name=owner.get_info.get_display_name %}
        Hello {{ full_name }},
    {% endblocktranslate %}
</p>
<p>
    {% blocktranslate %}
        Welcome as a full member! Please find attached your membership confirmation. We are very happy that you are on
        board.
    {% endblocktranslate %}
</p>

{% blocktranslate %}
    <p>
        To launch WirMarkt, we are dependent on the financial support of our members. This is because we need a lot of
        money for the first WirMarkt.
    </p>
    <p>
        We are currently working on a loan commitment for our project. As collateral, we need to raise our own funds
        (deposits and loans) as a community. These own funds will help us to finance the expansion of the store and the
        furnishing of the supermarket.
    </p>
    <p>
        So if you want to take over cooperative shares beyond the compulsory share, you can do this at any time, even
        when joining the cooperative. To do so, simply enter the corresponding value in the "Beteiligungserklärung"
        form. If you are already a member, you can take over additional shares in the WirMarkt app.
    </p>
    <p>
        You can also give WirMarkt a subordinated loan. This is possible from as little as 500 euros. At the end of the
        8-year term, you will receive your loan amount back, including interest.
    </p>
    <p>
        These loans are subject to 1-3% interest. If you want to give us a loan, please send us the signed loan
        agreement in duplicate by mail.
    </p>
    <p>
        All documents can be downloaded <a href="https://wirmarkt.de/download">from our website</a>. There you will also
        find the operating concept, a short summary of our project with figures on business management and financing.
    </p>
    <p>
        In advance, a very big thank you for your support, should you decide to give a loan to the cooperative or to
        take over more shares. Our strength and potential lies in community and collective action. That's why your
        support is so valuable. If you have questions about loans and need more information about the co-op, email
        <a href="mailto:office@wirmarkt.de">office@wirmarkt.de</a>.
    </p>
{% endblocktranslate %}

<p>
    {% blocktranslate %}
        Best regards,</br>
        Barbara, Kristina and Fabian
    {% endblocktranslate %}
</p>

</body>
</html>

