@page {
    size: A4;
    margin-top: 27mm;
    margin-left: 20mm;
    margin-right: 20mm;
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    src: url(/static/core/fonts/Jost-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(/static/core/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Jost';
    font-style: italic;
    src: url(/static/core/fonts/Jost-Italic-VariableFont_wght.ttf) format('truetype');
}

html {
    font-family: 'Jost', sans-serif;
    font-size: 9pt;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-style: normal !important;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.eot); /* For IE6-8 */
    src:
            url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.woff2) format('woff2'),
            url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.woff) format('woff'),
            url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons', monospace;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
    white-space: nowrap;
}